*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --height:50px;
  --width:50px;
  --border:2px solid rgb(88, 30, 30);
  --bg-color:#c9780f;
  background-color: #aca8a8;
}
#submitButton{
  background-color: #5a4e4e; 
  color: rgb(202, 195, 195);
}

.hoov{
  border:4px dashed greenyellow;
  border-color: #c9780f;
}

.container{
min-width: 10px;
max-width: 800px;
min-height: 800px;
display: grid;
margin: auto;
}
button{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 20px;
  margin-left: 50%;
}


